.form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #000;
  padding: 1rem 2rem;


  min-width: 400px;
}


.form-group {
  margin-bottom: .7rem;

  & > label, input, small {
    display: block;
    margin-bottom: .5rem;
  }
}

.form-control {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  border: 2px solid #ced4da;
}

.login-form {
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &-text {
      display: inline-block;

      font-size: 4rem !important;
      margin-bottom: 0 !important;
      line-height: 1.5 !important;
    }
  }

  &__additional {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}

