.conteinerized-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .conteinerized-content {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .conteinerized-content {
    max-width: 768px;
  }
}


